{#{% extends 'base.html' %}#}
{#{% block content %}#}
{#	<h2> Welcome to <span class="text-primary">PLAZA</span>. <small>front-end for python scripts we used to run from console</small></h2>#}
{#	<h3 class="text-primary">#}
{#		What is PLAZA?#}
{#	</h3>#}
{#	<p >#}
{#		PLAZA is a web front-end to python scripts built with these goals in mind:#}
{#		<ul>#}
{#			<li>allow people with zero python knowledge to use the scripts by interaction through simple Web GUI;</li>#}
{#			<li>beautify scripts' output with modern CSS and HTML formatting;</li>#}
{#			<li>aggregate all the scripts in one repo but in a separate sandboxed directories to increase code manageability.</li>#}
{#		</ul>#}
{#	</p>#}
{#<h3 class="text-primary">#}
{#		How to use?#}
{#	</h3>#}
{#	<p >#}
{#		Navigate through the side menu to the desired script and follow the instructions.#}
{#	</p>#}
{#<h3 class="text-primary">#}
{#		Contacts#}
{#	</h3>#}
{#	<p >#}
{#		Have any ideas, questions, problems? Visit <a href="/contacts">contacts</a> page for all the details.#}
{#	</p>#}
{#{% endblock %}#}


<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StockBuddy | Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="static/css/main.css" />
</head>
<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Projection</strong> by TEMPLATED</a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="generic.html">Generic</a>
						<a href="elements.html">Elements</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
        <!--Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to StockBuddy</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-car"></span>
                            <i class="material-icons md-light md-48" id="icon1">cloud</i>
							<h3>Learn</h3>
							<p>Discover new stocks in any industry</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Invest</h3>
							<p>Support companies and industries <br>you care about</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Grow</h3>
							<p>Profit from your investments</p>
						</div>

					</div>

					<footer>
						<a href="#" class="button">Get Started</a>
					</footer>
				</div>
			</section>

</body>
</html>